<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--bean就是java对象 , 由Spring创建和管理-->
    <!--
   id 是bean的标识符,要唯一,如果没有配置id,name就是默认标识符
   如果配置id,又配置了name,那么name是别名
   name可以设置多个别名,可以用逗号,分号,空格隔开
   如果不配置id和name,可以根据applicationContext.getBean(.class)获取对象;

class是bean的全限定名=包名+类名
例如：
<bean id="hello" name="hello2 h2,h3;h4" class="com.kuang.pojo.Hello">
   <property name="name" value="Spring"/>
</bean>
-->
    <!--
    可以导入其他的配置文件
    <import resource="{path}/beans.xml"/>
    -->
    <bean id="welcome" class="com.example.mingzhu.Welcome">
        <property name="name" value="  Spring"/>
    </bean>
    <bean id="knife" class="com.example.mingzhu.Knife">
        <property name="name" value="knife"/>
    </bean>
    <bean id="spoon" class="com.example.mingzhu.Spoon">
        <property name="name" value="spoon"/>
    </bean>
    <bean id="cook1" class="com.example.mingzhu.Cook1">
        <!--name的值是set函数名称后面的部分，首字母小写，ref是引入其他的bean-->
        <property name="cooker" ref="knife"/>
    </bean>
    <!--有构造函数的时=时候可以用constructor-arg标签，其中name的值可以按参数的位置如0，1，2来表示，也可以直接
    使用参数名称如length，也可以使用参数类型如Java.lang.String-->
    <bean id="box" class="com.example.mingzhu.Box">
        <constructor-arg name="length" value="1"/>
        <constructor-arg name="heigth" value="2"/>
        <constructor-arg name="width"  value="3"/>
    </bean>
    <alias name="box" alias="aliasForBox"/>
</beans>